#loader-member-container {
    max-width: 1300px;
    width: 100%;
    min-height: 400px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loader-member-container .loader-image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 200px;
    overflow: hidden;
    margin-right: 30px;
}

#loader-member-container .loader-description-container {
    display: flex;
    flex-direction: column;
}

.loader-description-container .loader-name {
    height: 18px;
    width: 130px;
    background-color: #ddd;
    margin-bottom: 10px;
    overflow: hidden;
}

.loader-description-container .loader-name:nth-child(2) {
    margin-bottom: 40px;
    width: 150px;
}

.loader-description-container .loader-description {
    height: 18px;
    width: 230px;
    background-color: #ddd;
    margin-top: 15px;
    overflow: hidden;
}

.loader-description-container .loader-description:nth-child(3) {
    width: 250px;
}

.loader-description-container .loader-description:nth-child(5) {
    width: 280px;
}

/* The loading Class */ 
.loading { 
    position: relative; 
} 

/* The moving element */ 
.loading::after { 
    display: block; 
    content: ""; 
    position: absolute; 
    width: 100%;
    height: 100%; 
    transform: translateX(-100%);                   
    background: linear-gradient(90deg, transparent, 
            rgba(255, 255, 255, 0.3), transparent); 

    /* Adding animation */ 
    animation: loading 1s infinite; 
} 

/* Loading Animation */ 
@keyframes loading { 
    100% { 
        transform: translateX(100%); 
    } 
}

@media only screen and (max-width: 767px) {
    #loader-member-container {
        flex-direction: column;
        height: 90vh;
        justify-content: space-evenly;
        padding: 20px;
        box-sizing: border-box;
        align-items: center;
    }

    #loader-member-container .loader-image-placeholder {
        margin: 0;
    }
}