.loader-card-container {
    width: 350px;
    min-height: 400px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loader-card-container .loader-image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 200px;
    overflow: hidden;
}

.loader-card-container .loader-description-container {
    display: flex;
    flex-direction: column;
}

.loader-description-container .loader-name {
    height: 18px;
    width: 130px;
    background-color: #ddd;
    margin-top: 40px;
    overflow: hidden;
}

.loader-description-container .loader-description {
    height: 18px;
    width: 230px;
    background-color: #ddd;
    margin-top: 15px;
    overflow: hidden;
}

/* The loading Class */ 
.loading { 
    position: relative; 
} 

/* The moving element */ 
.loading::after { 
    display: block; 
    content: ""; 
    position: absolute; 
    width: 100%;
    height: 100%; 
    transform: translateX(-100%);                   
    background: linear-gradient(90deg, transparent, 
            rgba(255, 255, 255, 0.3), transparent); 

    /* Adding animation */ 
    animation: loading 1s infinite; 
} 

/* Loading Animation */ 
@keyframes loading { 
    100% { 
        transform: translateX(100%); 
    } 
}