
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.timeline {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 1200px;
  background: #fff;
  padding: 40px 20px;
  position: relative;
}
.timeline::before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 5px);
  bottom: 0px;
  width: 3px;
  background: #05C46B;
}
.timeline::after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  display: grid;
  grid-template-columns: 33% 67%;
  position: relative;
}
.entry .title {
  padding-top: 30px;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border: 4px solid #05C46B;
  background-color: #fff;
  border-radius: 100%;
  top: 30px;
  right: -11px;
  z-index: 2;
}
.entry .title .entry-title {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.entry .title .entry-date {
  margin-bottom: 5px;
  font-size: .9em;
  color: #05C46B;
  font-weight: 700;
}
.entry .entry-details {
  margin: 0 0 3em;
  padding-left: 30px;
  padding-top: 20px;
}

.entry .entry-details h4 {
  margin: 10px 0;
  font-size: 1.1em;
  color: #05C46B;
}

.entry .entry-details ul {
  color: #333333;
  padding-left: 0;
  list-style-type: none;
  line-height: 1.5em;
}