@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

#member-card-container {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 15px;
    background-color: #fff;
    color: #333;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 480px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
    transition: color ease-in-out 300ms;
}

#member-card-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 480px;
    background-color: #05C46B;
    transition: top ease-in-out 300ms;
}
  
#member-card-container img {
    position: relative;
    margin-top: 20px;
    height: 180px;
    width: 180px;
    padding: 3px;
    border: 10px solid #05C46B;
    border-radius: 200px;
    transition: border ease-in-out 300ms;
}

#member-card-description-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

#member-card-description-name {
    position: relative;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 20px;
}

#member-card-description-role {
    position: relative;
    font-weight: 500;
}

#member-card-description-intro {
    position: relative;
    font-size: 0.8em;
    font-weight: 300;
    text-align: justify;
    padding-top: 20px;
    margin-top: 20px;
}

#member-card-description-intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80px;
    background-color: #05C46B;
    transition: background-color ease-in-out 300ms;
}

#member-card-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 55px;
    width: 100%;
    border: none;
    border-top: 1px solid transparent;
    border-radius: 0 0 5px 5px;
    background-color: #05C46B;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    transition: border-top ease-in-out 300ms;
    overflow: hidden;
}

#member-card-container:hover {
    color: #fff
}

#member-card-container:hover::before {
    top: 0;
}

#member-card-container:hover img {
    border: 10px solid #fff;
}

#member-card-container:hover #member-card-description-intro::before {
    background-color: #fff;
}

#member-card-container:hover #member-card-button {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#member-card-button::after {
    content: "";
    position: absolute;
	top: 0;
	left: 25%;
	height: 55px;
	width: 50%;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 700ms;
    transform: scale(5, 5);
}

#member-card-button:active::after {
	padding: 0;
	margin: 0;
	opacity: .2;
	transition: 0s;
	transform: scale(0, 0);
}