#team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1180px;
    width: 100%;
}

@media only screen and (max-width: 1023px) {
    #team-container {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    #team-container {
        grid-template-columns: 1fr;
    }
}

