@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.team-member-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    display: grid;
    max-width: 1250;
    padding: 25px;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}

.team-member-avatar-container {
    min-height: 400px;
    text-align: center;
    padding: 0 15px;
    box-shadow: 0px 2px 20px 2px rgba(51, 51, 51, 0.1);
}

.column-span-2 {
    grid-column: span 2;
}
.column-span-3 {
    grid-column: span 3;
}
.column-span-4 {
    grid-column: span 4;
}
.column-span-6 {
    grid-column: span 6;
}

.team-member-container img {
    margin-top: 20px;
    height: auto;
    width: 62%;
    max-width: 220px;
    padding: 3px;
    border: 10px solid #05C46B;
    border-radius: 200px;
}

#team-member-avatar-name {
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}

#team-member-avatar-name::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80px;
    background-color: #05C46B;
}

#team-member-avatar-role {
    font-weight: 500;
}

.team-member-item-card {
    box-shadow: 0px 2px 20px 2px rgba(51, 51, 51, 0.1);
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border-decoration {
    border-left: 5px solid #05C46B;
}